<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="vehicle" default="s500_uam"/>
    <arg name="world" default="$(find eagle_mpc_debugger)/worlds/empty.world"/>
    <arg name="sdf" default="$(find eagle_mpc_debugger)/models/sdf/s500_uam/s500_uam.sdf"/>

    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="true"/>
    <arg name="respawn_gazebo" default="false"/>
    
    <!-- PX4 configs -->
    <arg name="interactive" default="true"/>

    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="respawn_mavros" default="false"/>

    <!-- PX4 SITL -->
    <arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
    <arg     if="$(arg interactive)" name="px4_command_arg1" value=""/>
    <node name="sitl" pkg="px4" type="px4" output="screen"
        args="$(find px4)/build/px4_sitl_default/etc -s etc/init.d-posix/rcS $(arg px4_command_arg1)" required="true"/>

    <!-- Gazebo sim -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="joint_1_pos" default="-1.2"/>
    <arg name="joint_2_pos" default="-0.6"/>
    <arg name="joint_3_pos" default="0.0"/>
    <arg name="joint_4_pos" default="0.0"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>
    <!-- gazebo model -->
    <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file $(arg sdf) -model $(arg vehicle) -x $(arg x) -y $(arg y) -z $(arg z) -J joint_1 $(arg joint_1_pos) -J joint_2 $(arg joint_2_pos) -J joint_3 $(arg joint_3_pos) -J joint_4 $(arg joint_4_pos)" />

    <include file="$(find mavros)/launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="gcs_url" value=""/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>

    <!-- robot description -->
    <param name="arm_controller/robot_description"
         command="$(find xacro)/xacro $(find eagle_mpc_debugger)/models/urdf/s500_uam_arm.urdf.xacro"/>

    <!-- groundtruth position-->
    <!-- <node pkg="eagle_mpc_debugger" type="groundtruth_pub.py" name="groundtruth_to_mavros" output="screen">
        <param name="model_name" value="$(arg vehicle)" />
    </node> -->

    <!-- arm controller -->
    <rosparam ns="arm_controller" file="$(find eagle_mpc_debugger)/config/arm_controllers.yaml" command="load"/>

    <!-- Spawn controllers with correct namespace and controller manager -->
    <node name="spawn_arm_controllers" pkg="controller_manager" type="spawner" output="screen"
        args="
        joint_state_controller
        joint_1_position_controller
        joint_2_position_controller
        joint_3_position_controller
        joint_4_position_controller
        "
        ns="arm_controller"
        respawn="false">
        <param name="use_sim_time" value="true"/>
    </node>

    <!-- <node pkg="eagle_mpc_debugger" type="set_arm_initial_position.py" name="set_arm_initial_position" output="screen"/> -->

</launch>
